---
import ProjectLayout from "../layouts/ProjectLayout.astro";
import Section from "../layouts/home/Section.astro";
import mockup from "../assets/images/projets/moutonrebel/mockup_elements.png";
import photoshop from "../assets/images/projets/moutonrebel/work_photoshop.png";

---

<ProjectLayout 
    title="Mouton rebel"
    logo="moutonrebel/logo.png"
    color="text-moutonrebel"
    class="relative w-full z-10 pb-20 bg-[#1b1b1b] text-white"
>
    <div
        class:list={[
            "absolute -z-10 opacity-10 inset-0 bg-[length:100%_auto] bg-[url('/src/assets/images/projets/moutonrebel/pattern.png')]",
            "after:bg-[url('/src/assets/images/projets/moutonrebel/flammes.png')] after:bg-[length:100%_auto] after:inset-0 after:absolute"
        ]}
    />
    <Fragment slot="title">
        Concept<br/>
        Agence créative<br/>
        Mouton Rebel
    </Fragment>
    <Fragment slot="subtitle">
        Création de l'image de marque
    </Fragment>
    <img src={mockup.src} class="max-w-full mx-auto" />
    <Section class="container">
        <p class="mb-3">Le logo a été créé par Myriam Gauthier-Fréchette sous mes directives. </p>

        <p class="mb-3">Dans le cadre de mon emploi au Carrefour jeunesse-emploi des Moulins, j'ai créé le programme "Agence Créative Mouton Rebel", offrant aux jeunes neurodivergents et décrocheurs scolaires l'opportunité d'explorer les métiers du multimédia au sein d'une agence professionnelle. Ainsi, ils acquièrent des compétences pratiques dans le domaine, développent une expérience socioprofessionnelle et trouvent la motivation nécessaire pour poursuivre une carrière qui les passionne.</p>

        <p class="mb-3">Lors de la conception du programme, j'ai dû élaborer une image de marque attrayante ciblant la clientèle du Carrefour (15 à 35 ans) et reflétant fidèlement l'univers du multimédia. Notre objectif était de projeter une image professionnelle, jeune, dynamique et technologique, d'où mon choix des couleurs noir et mauve. Le mauve, symbolisant la différence, l'étrangeté et l'originalité, s'est avéré être la teinte idéale pour un programme destiné à une clientèle aussi particulière et créative que les jeunes que nous accueillons.</p>

        <p class="mb-12">Il est important de souligner que bien que j'aie conçu l'ensemble du concept Mouton Rebel, le logo n'est pas de ma réalisation. Il a été créé par Myriam Gauthier Fréchette, une étudiante universitaire que j'apprécie grandement et qui participe activement à plusieurs de mes projets.</p>

        <img src={photoshop.src} class="max-w-full mx-auto" />
    </Section>
</ProjectLayout>