---
const { title, projet } = Astro.props;
import cover from `../assets/images/projets/${projet}/cover.png`;
---
<article class="relative group">
    <figure class="mb-3 block">
        <img src={cover.src} />
    </figure>
    <div class="absolute opacity-0 group-hover:opacity-100 transition-opacity inset-0 bg-[rgba(0,0,0,0.7)] p-4 flex flex-col justify-center items-center">
        <h3 class="text-2xl font-bold uppercase ">
            <img src="src/assets/images/coeurs.png" class="mx-auto mb-2 max-h-[1.5em]" />
            {title}
        </h3>
        <slot name="content" />
        <a href={`/Portfolio/${projet}`} class="absolute inset-0"/>
    </div>
</article>