---
import Button from "./Button.astro";
---
<div class="fixed z-10 bottom-0 right-0 p-3">
    <a class="bg-yellow hover:bg-pink hover:text-yellow text-pink rounded-full w-18 h-18 flex items-center justify-center" href="#main">
        <i class="text-3xl fa fa-arrow-up" />
    </a>
</div>