---
import Layout from "./Layout.astro";

const { title, logo, color, ...props } = Astro.props;
---

<Layout
    title={title}
    {...props}
>
    <a href="/Portfolio" class="font-cursive text-[8rem] leading-none px-8">x</a>
    <header class="container py-16 lg:flex-row flex flex-col-reverse gap-4">
        <div class="mr-auto">
            <h1 class:list={[color, "text-7xl mb-3 font-bold uppercase"]}>
                <slot name="title" />
            </h1>
            <p class="text-3xl"><slot name="subtitle" /></p>
        </div>
        <img width="200" src={`src/assets/images/projets/${logo}`} />
    </header>
    <slot />
</Layout>